<div class="container">
<br>
<div class="col-md-8 offset-md-2 alert-warning col-sm-8">
    <div class="col-md-6 offset-md-3"><br>

        {% if messages %}
            {% for msg in messages %}
                <small><p class="text-center text-danger">{{ msg }}</p></small>
            {%  endfor %}
        {% endif %}

        <form method="post" action="{% url 'generatecode' %}">
          <div class="form-group">
              {% csrf_token %}
            <label for="name">Name/ Username</label>
            <input type="text" class="form-control" id="name" name="username" placeholder="Enter your first name">
              <small><small id="nameHelp" class="form-text text-muted">We'll never share your name with anyone else.</small></small>
          </div>

          <button type="submit" class="btn btn-sm btn-primary offset-md-3 col-md-5 col-sm-4 col-lg-6">Generate Code</button>
        </form><br>

    </div><br>

     {% if final_username %}
         <h5 class="text-center">Your code:</h5>
        <div class="alert alert-success col-md-6 offset-md-3 text-center form-control">
            <p>{{ final_username }}</p>
        </div><br>
     {% endif %}
    <small><p class="text-center">Developed by:<b>< jkm-droid ></b> </p></small>

</div>
</div>